.confirm-dialog {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.confirm-dialog p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.confirm-button,
.cancel-button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 1rem;
}

.confirm-button {
    background-color: #be463e;
    color: white;
}

.cancel-button {
    background-color: #469693;
    color: white;
}